html {
  background-color:#000033
}
body {
    color: rgb(252,255,244);
    font-size:1.25em;
    letter-spacing: .05em;
    line-height: 1.25;
    font-family:Trebuchet MS, Helvetica, sans-serif;
    width:40em;
    padding:1em;
    margin: 10px auto;
    padding:20px;
    box-shadow:2px 2px 2px #000;
    border:2px #eee solid;
    border-radius:20px;
    background-color: #000033;
}
li {margin-left:1em}
a:link {color: #FFFF99; }
a:visited {color:#ccc;}
a:hover {color: #FFFF66;}
a:active {}

h1 {font-size:1.4em;margin:2px;text-align:center;}
h1,h2,h3,h4 { margin:2px }

#Content {
    margin:1em 0 1em 0;
    background-color:#000033
}

#Banner, #Menu {
    margin:1em 0 1em 0;
    font-weight:bold;
    color:#000033;
    text-shadow:1px 1px #eee;
    padding:4px;
    border:2px #eee solid;
    border-radius:4px;
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}
#Banner a:link {color: #000033;}
#Banner a:visited {color:#000033;}
#Banner a:hover {color: #000033;}
#Menu a:link {color: #000033;}
#Menu a:visited {color:#000033;}
#Menu a:hover {color: #000033;}

#Menu {margin:5em 0 1em 0;}
#Menu li {display:inline;margin:4px;float:left;}


.org {
    border:1px gainsboro:solid;
    margin: 4px 4px;
    padding:10px;
    color:#000033;
    box-shadow:2px 2px 2px #000;
    border-radius:4px;
    box-shadow:inset 0 0 3px #000;
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}
.org a:link {color: #000033;}
.org a:visited {color:#000033;}
.org a:hover {color: #000033;}
.org a:active {}
.org h3 {margin:2px;text-shadow:2px 2px #eee;}
.contact {
    width:16em;
    margin:10px;padding:5px;
    float:left;
    border:1px #000 solid;
    box-shadow:2px 2px 2px #000;
    border-radius:2px;
}
.atc {text-align:center}
.cb {clear:both}
